
.menu{
    background-color: black;

    ul{
        list-style: none;
        margin: auto;
        padding: auto;

        li{
            display: inline-block;

            a{
                color: aliceblue;
                display: grid;
                margin: 1%;
                padding:0%;
                text-decoration: none;
                text-align: center;
                width: 250px;
                &:hover{
                    background-color: rgb(90, 182, 182);
                }
            }
        }
    }
}
$redes: ( 
        twitter: #55acee,
        facebook:  #3a5795,
        send-mail: #C25E30
);


$estilos:(
    color: rgb(55, 55, 117),
    alineacion: center,
    font-size: 35px,
    relleno: 1rem,

)
